<div class="container">
  <div class="row">
    <div class = "col-md-12">
      <div class="jumbotron">
        <h1 class="text-center">About me</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class = "col-md-5">
    </div>
  </div>
  <div *ngIf="gitUser">
    <div class="row">
      <div class="col-md-6">
      <div *ngFor="let f of gitUser">
            <div *ngFor="let x of f.picturez">
          <img class="card-img-top" [src]="x.image" alt="x.alt_tag">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="jumbotron">
              <h1 class="text-center">ABUGA ARONI</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
                <div *ngFor="let f of gitUser">
              <p class="card-title" style><span class="headingstyle">About me</span> </p>                  
                  <p class="card-title" style> <span class="styled"></span> {{f.about}}</p>
                <hr>
                  <p class="card-title" style><span class="headingstyle">Educational background</span> </p>
                    <div *ngFor="let x of f.educationz">
                      <p><span class="styled">{{x.qualification}}: </span>{{x.title}}</p>
                    </div>
                <hr>
                <p class="card-title" style><span class="headingstyle">Employment history</span> </p>
                  <div *ngFor="let x of f.career">
                    <p><span class="styled">Employer: </span>{{x.title}}</p>
                  </div>
              <hr>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
