<div class="users">
  <div *ngIf="gitUser">
    <div class="row lightgrey">
      <div class="col-md-6">
        <div class="card">
          <p> cut pic </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div *ngFor="let f of gitUser">
            <h3 class="card-title" style> <span class="styled">Username: </span> {{f.id}}</h3>
          <br>
            <h3 class="card-title" style><span class="styled">Fullname: </span> {{f.first_name}}</h3>
          <br>
            <h5 class="card-title" style><span>Employment status: </span> {{f.last_name}}</h5>
            </div>
          </div>
          <div class="card-body">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
