/* You can add global styles to this file, and also import other style files */

.lightgrey {
  background-color: #ADD8E6;
  border-style: outset;
  padding: 10px;
}

.styled {
  font-weight: bold;
}

.headingstyle{
  font-weight: bold;
  text-decoration: underline;
}
